*{
    margin: 0;
    box-sizing: border-box;
}
body{
    color: white;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.nav{
    padding:24px 100px;
    background-color: #2C3E50;
    font-weight: bold;
}
.nav-brand{
    font-size: 28px;
}
.nav-menu-list ul{
    font-size: 16px;
    list-style: none;
}
.nav-menu-list ul li{
    display: inline;
    padding: 16px;
}
.align-inline{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrap-items{
    flex-wrap: wrap;
}
.hero{
    background-color: #1ABC9C;
    padding:100px 0px 96px;
}
.hero-content{
    text-align: center;
    padding: 5%;
}
.hero-content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    width: 240px;
    height: 245.53;
}
.hero-content h1{
    font-weight:700;
    font-size: 60px;
}
.parent{
    margin: 20px 0px 24px;

}
.line{
    max-width: 7rem;
    height: 0.25rem;
    background-color:white;
    border-radius: 1rem;
    border-color: white;
}
.hero-content{
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
    font-weight:400;
}
.portfolio{
    padding: 70px;
}
.portfolio-caption{
    text-align: center;
}
.portfolio-caption h2{
    color: #2C3E50;
    font-weight: 700;
    font-size: 40px;
}
.portfolio-images{
    width: 100%;
}
.portfolio-images img{
    width: 400px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.image-row{
    margin-top: 30px;
}
.about{
    padding:96px 0px;
    background-color: #1ABC9C;
    text-align: center;
    width: 100%;
}
.about h2{
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
}
.about-content{
    padding: 0 19%;
    text-align:left;
}
.about-p{
    width: 350px;
    margin: 10px;
    font-size: 20px;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.download-btn{
    outline: none;
    border:  1px solid #FFFFFF ;
    width: 200px;
    height: 50px;
    background-color:#1ABC9C;
    color:white;
    font-size: larger;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}
.download-btn:hover{
    background-color: white;
    color: black;
}
.icon-container svg{
    width: 40px;
    height: 40px;
    display: inline;
}
.contact{
    padding:96px 0px;
    background-color: #ffffff;
    text-align: center;
    width: 100%;
}
.contact h2{
    color: #2C3E50;
    font-weight: 700;
    font-size: 40px;
}
.contact-content{
    padding: 0 19%;
    text-align:left;
}
.contact-p{
    width: 350px;
    margin: 10px;
    font-size: 20px;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.inputs-div{
    width: 100%;
}
.inputs-div input{
    padding: 24px 48px 24px 0px;
    width: 100%;
    margin: ;
}